<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success!!!</title>

    <style>
       @import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rajdhani', sans-serif;
  
}
        div {
            background-color: #a3f5a7;
            color: #555;
            padding: 20px;
            font-size: 20px;
        }
        p{
            font-weight: 500;
        }
    </style>
</head>
<body>
    <div>
        <h1>Success with your email suscribtion</h1>
    <p>Thank you for suscribing to us, we will keep you update on any of our updates

    </p>
    <p>
        Don't worry we won't spam you, we swear :)
    </p>
    </div>
</body>
</html>